{
  "openapi": "3.1.0",
  "info": {
    "title": "Morph API",
    "description": "API for applying code updates with lightning speed using Morph's optimized LLM",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.morphllm.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "description": "Apply code updates using Morph's optimized LLM",
        "requestBody": {
          "description": "Code update request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use (e.g., morph-v0)",
            "example": "morph-v0"
          },
          "messages": {
            "type": "array",
            "description": "A list of messages comprising the conversation so far",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the message author",
            "enum": ["system", "user", "assistant"],
            "example": "user"
          },
          "content": {
            "type": "string",
            "description": "The content of the message, containing code and update snippets",
            "example": "<code>def calculate_total(items):\n    total = 0\n    for item in items:\n        total += item.price\n    return total</code>\n<update>def calculate_total(items):\n    total = 0\n    for item in items:\n        total += item.price\n    return total * 1.1  # Add 10% tax</update>"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "required": [
          "id",
          "object",
          "created",
          "choices",
          "usage"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the completion",
            "example": "chatcmpl-123"
          },
          "object": {
            "type": "string",
            "description": "Object type",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp of when the completion was created",
            "example": 1677652288
          },
          "choices": {
            "type": "array",
            "description": "List of completion choices",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "type": "object",
            "description": "Usage statistics for the completion request",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "Number of tokens in the prompt",
                "example": 25
              },
              "completion_tokens": {
                "type": "integer",
                "description": "Number of tokens in the completion",
                "example": 32
              },
              "total_tokens": {
                "type": "integer",
                "description": "Total number of tokens used",
                "example": 57
              }
            }
          }
        }
      },
      "Choice": {
        "type": "object",
        "required": [
          "index",
          "message",
          "finish_reason"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "description": "Index of the choice in the list",
            "example": 0
          },
          "message": {
            "type": "object",
            "description": "The message generated by the model",
            "properties": {
              "role": {
                "type": "string",
                "description": "The role of the message author",
                "example": "assistant"
              },
              "content": {
                "type": "string",
                "description": "The content of the message",
                "example": "\ndef calculate_total(items):\n    total = 0\n    for item in items:\n        total += item.price\n    return total * 1.1  # Add 10% tax\n"
              }
            }
          },
          "finish_reason": {
            "type": "string",
            "description": "The reason the model stopped generating tokens",
            "example": "stop"
          }
        }
      },
      "Error": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message",
                "example": "Invalid API key"
              },
              "type": {
                "type": "string",
                "description": "Error type",
                "example": "invalid_request_error"
              },
              "code": {
                "type": "string",
                "description": "Error code",
                "example": "invalid_api_key"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}